.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  margin-bottom: 0;
}
.amount {
  font-family: sans-serif;
  color: var(--color-primary);
}
.spinner {
  font-size: 0.2rem;
}
