.container {
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pychart {
  width: 60%;
  overflow: visible;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.hidden {
  display: none;
}

/* LEGENDS STYLE */

.legends {
  width: 100%;
  align-self: flex-start;
  justify-self: flex-end;
}

.legend {
  display: flex;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
}

.legendColor {
  display: inline-block;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
  background-color: red;
}
