.item {
  display: flex;
  flex-direction: column;
}
.title {
  padding: 0.3rem 0.5rem;
  border-left: 4px solid green;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 300ms;
}
.title:hover {
  opacity: 0.5;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--color-light);
  padding: 0.6rem 1rem;
  max-height: 200px;
  overflow: hidden;
}
.hidden {
  display: none;
}
.info p {
  margin: 0;
  font-size: 0.8rem;
}
.description::first-letter {
  text-transform: uppercase;
}
