.container {
  display: block;
}
.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2 rem;
}
.list li {
  padding: 0.3rem 0.5rem;
  border-left: 4px solid green;
}
