.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  border-radius: 50%;
}
.title button:hover {
  opacity: 0.7;
}

@media print {
  .title button {
    display: none;
  }
}
