.container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 1rem;
  margin-bottom: 5rem;
  height: auto;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 500px;
  }
}
