* {
  box-sizing: border-box;
}
div {
  /* border: 1px solid red; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-dark: #333;
  --color-medium: #999;
  --color-light: #e6e6e6;
  --color-error: rgb(176, 53, 53);
}

.error {
  font-size: 0.8rem;
  color: var(--color-error);
  padding: 0.2rem;
}
